certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.6.0
idna==3.3
isodate==0.6.1
pbr==5.8.1
platformdirs==2.5.1
pyparsing==3.0.7
python-dotenv==0.20.0
PyYAML==6.0
rdflib==6.1.1
requests==2.27.1
six==1.16.0
stevedore==3.5.0
urllib3==1.26.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
